.page-services {
  display: block;
  height: 568px;
}

.page-services__services {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.page-services__service {
  display: inline-block;
  width: 260px;
  text-align: center;
}

.page-services__service-header {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  letter-spacing: -0.025em;
}

.page-services__service-description {
  font-size: 14px;
  letter-spacing: -0.025em;
  color: #777777;
  line-height: 19px;
  margin-top: 15px;
}
