.page-portfolio {
  display: block;
  height: 696px;
  background: #f7f7f7;
  color: #222;
}

.page-portfolio__works {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
